# Set only on a Tailscale-connected private client/agent after OCI deployment.
# Do not put this in a public Worker or browser bundle.
ROCSPACE_PRIVATE_MODEL_BASE=http://<tailscale-vm-name-or-ip>:11434
ROCSPACE_PRIVATE_MODEL_ID=rocspace-initial
